@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background: #F5F1EA;
  --primary: #3E2723;
  --accent: #C08B5C;
  --border: #1F1F1F;
  --text: #8D8D8D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
  outline: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.container {
  width: 92%;
  max-width: 1400px;
  margin: auto;
}